<div [formGroup] ="myForm" class="form-container m-5">
  <app-custom-input-text
   name="userName"
   [label]="'Input 1'"  
   placeholder="Please enter your user name"
   [minlength]="3"
   [required]="true"
   ngModel 
  formControlName="inputOne">
  </app-custom-input-text>
  <div *ngIf="f['inputOne'].errors" style="color: red;">
    <div *ngIf="f['inputOne'].errors['dateLessThan']">Title is required</div>
</div>

  <app-custom-input-text
   name="userName"
   [label]="'Input 2'" 
   placeholder="Please enter your user name"
   [minlength]="3"
   [required]="true"
   ngModel 
  formControlName="inputTwo">
  </app-custom-input-text>
  <div *ngIf="f['inputTwo'].errors" style="color: rgb(111, 212, 16);">
    <div *ngIf="f['inputTwo'].errors['dateLessThen']">Title is required</div>
  </div>
  <app-custom-input-text
   name="password"
   [label]="'Password'" 
   placeholder="Please enter your password"
   [minlength]="3"
   [required]="true"
   ngModel 
    formControlName="password">
  </app-custom-input-text>
  <app-custom-input-text
   name="confirmPassword"
   placeholder="Please enter your confirm password"
   [minlength]="3"
   [required]="true"
   ngModel 
    [label]="'Confirm password'" 
    formControlName="confirmPassword">
  </app-custom-input-text>
  <div *ngIf="f['confirmPassword'].errors" style="color: rgb(190, 4, 29);">
    <div *ngIf="f['confirmPassword'].errors['mustMatch']">Confirm password is not match</div>
  </div>
  <p>
    <button type="submit" [disabled]="myForm.invalid" (click)="submit()">Submit</button>
    <button type="submit" (click)="submit()">Submit</button>
  </p>
</div>
<pre>
  {{f}}
</pre>
<pre>
  {{myForm.value | json}}
</pre>
